body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-image: url("https://telegra.ph/file/40e6b58c78fcba5d715c7.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.container {
  width: 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Sesuaikan nilai blur di sini */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar sama */
  gap: 10px; /* Jarak antar tombol */
}

.links a {
  display: block;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.links a:hover {
  background: rgba(255, 255, 255, 0.3);
}
